.container {
    .container__card {
        padding: 2rem 0;
        background-color: #424242;
        border-radius: 0;
    }
    .container__card__div1 {
        max-height: 300px;
       margin: 3rem  0;
        display: flex;
        background: #FFE4C4;
        img { 
            position: relative;
            top: -3rem;
            left: -20px;
            width: 300px;
        }
    }
        .container__card__div1__block {
            left: -20px;
            position: relative;
            padding-right: 1rem;
            margin-top: 4rem;
            margin-bottom: 4rem;
            font-size: 3rem;
            background: #424242;
                .container__card__div1__block-span {  
                    font-size: 2rem;
                    right: 0;               
                    position: absolute;
                    background: #C4C4C4;
                    
                    padding: 0 3rem;
                    .span__text {
                        text-transform: uppercase;
                        padding-left: 1rem;
                        font-size: 4rem;  
                        color: black;
                    }
                }

        }
}

.containerR {
    .container__card {
        padding: 2rem 0;
        background-color: #424242;
        border-radius: 0;
    }
    .container__card__div1R {
        max-height: 300px;
       margin: 3rem  0;
        display: flex;
        background: #FFE4C4;
        img { 
            position: relative;
            top: -3rem;
            left: -20px;
            width: 300px;
        }
    }
        .container__card__div1__blockR {
            left: -20px;
            position: relative;
            padding-right: 1rem;
            margin-top: 4rem;
            margin-bottom: 4rem;
            font-size: 3rem;
            background: #424242;
                .container__card__div1__block-spanR {  
                    font-size: 2rem;
                    right: 0;               
                    position: absolute;
                    background: #C4C4C4;
                    
                    padding: 0 3rem;
                    .span__textR {
                        text-transform: uppercase;
                        padding-left: 1rem;
                        font-size: 4rem;  
                        color: rgb(255, 0, 0);
                    }
                }

        }
}

